name: Build App

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, macos-latest]

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pyinstaller
        pip install -r requirements.txt

    - name: Install Pandoc (Windows)
      if: runner.os == 'Windows'
      run: choco install pandoc

    - name: Install Pandoc (macOS)
      if: runner.os == 'macOS'
      run: brew install pandoc

    - name: Build Python Executable
      run: |
        pyinstaller pyinstaller.spec

    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 18

    - name: Install Electron Dependencies
      working-directory: ./electron-app
      run: npm install

    - name: Build Electron App (Windows)
      if: runner.os == 'Windows'
      working-directory: ./electron-app
      run: npm run dist -- --win

    - name: Build Electron App (macOS)
      if: runner.os == 'macOS'
      working-directory: ./electron-app
      run: npm run dist -- --mac

    - name: Upload Artifacts (Windows)
      if: runner.os == 'Windows'
      uses: actions/upload-artifact@v4
      with:
        name: Windows-Installer
        path: electron-app/dist/*.exe

    - name: Upload Artifacts (macOS)
      if: runner.os == 'macOS'
      uses: actions/upload-artifact@v4
      with:
        name: macOS-Installer
        path: electron-app/dist/*.dmg
